<h2>Add a memorable Quote</h2>
<div>
    <form action="">
        <label for="">Name:</label><br>
        <input type="text" placeholder="Your name" name="name" autocoplete="off"><br>
        <label for="">Occupation:</label><br>
        <input type="text" placeholder="Your job" name="title" autocoplete="off"><br>
        <label for="">Quotes:</label><br>
        <textarea name="quote" placeholder="write your quote here" cols="30" rows="10"></textarea><br>
        <button type="submit" class="btn btn-primary">POST</button></form>
</div>